<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Osu_BackgroundPurge.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Osu_BackgroundPurge.Properties.Settings>
      <setting name="CompositingMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CompositingQuality" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InterpolationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmoothingMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PixelOffsetMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WrapMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>1</value>
      </setting>
    </Osu_BackgroundPurge.Properties.Settings>
  </userSettings>
</configuration>