<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net48" />
  <package id="Octokit" version="0.40.0" targetFramework="net472" />
</packages>